html{
    font-size: 62.5%;
}
    
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

main {
    background: #1F2937;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.logo {
    justify-content: flex-start;
    font-size: 2.4rem;
    color: #F9FAF8;
}

.feature-info {
    display: flex;
    width: 70%;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4.8rem;
    color: #F9FAF8;
}

#hero-sec {
    font-size: 1.8rem;
}

.info {
    text-align: center;
}

#info-header {
    font-size: 3.6rem;
    font-weight: extra-bold;
    color: #1F2937;
}
.pics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pics section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.inspo {
    background: #E5E7EB;
    font-size: 3.6rem;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 100px 50px 100px;
}

.inspo#inspo-text {
    padding-bottom: 20px;
}

.inspo span {
    position: relative;
    left: 70%;
    font-size: 1.8rem;
}

.action-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px 50px 150px;
}

.action-text {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    
}

.action-button {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    flex-shrink: 1;
    height: 50%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    
}

.blue {
    background: #3882F6;
    color: #E5E7EB;
}

footer {
    text-align: center;
    margin: auto;
}